.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    cursor: pointer;
    a {
        color: #fff !important;
    }
}

mat-sidenav {
    width: 200px;
    cursor: pointer;
    background-color: #f7f6f6;
    position: fixed;
    top: 55px;
    z-index: 1000;
}

a {
    color: #434343 !important;
    text-decoration: none;
    cursor: pointer;
}