table {
    width: 90%;
    margin: auto;
}

.navFilter {
    display: flex;
    margin: 20px 50px;
    font-size: 14px;
    .mat-form-field {
        font-size: 1rem;
        width: 50%;
        margin: 0 auto;
        display: block;
        margin-top: 1rem;
    }
    .container-btn-new {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 1rem -0.6rem;
        button {
            width: 25%;
            color: #fff;
            background-color: #1ca4ff;
            cursor: pointer;
        }
    }
}

.mat-paginator {
    margin-top: 20px;
    width: 80%;
}